# Root
node_modules/
.DS_Store
.env
.vscode/

# Python
__pycache__/
*.pyc
venv/
env/
.venv/

# Secrets
backend/.env

# Uploads and DB
backend/instance/
backend/uploads/
backend/logs/

# Build
frontend/dist/

